<div class= "splach">
<h1 class="splach-header">Budget App</h1>
<div class="buttons">
<%=link_to "LOG IN" ,user_session_path ,class: "login button"%>
<%=link_to "SIGN UP" ,new_user_registration_path,class: "signup button"%>
</div>
</div>
