<%=  form_with model: @new_group ,url: group_index_path, method: :post do |form|  %>
  <div class='form-group'>
    <%= form.text_field :name, class: 'form-control', placeholder: 'Category Name' %>
    <%= form.text_field :icon , class: 'form-control', placeholder: 'Icon' %>
    <%= form.submit "Submit", class: 'btn btn-primary' %>
</div>
<% end %>